@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url('typography.css');
@import url('navigation.css');

@import url('gallery.css');

@import url('site-header.css');
@import url('site-footer.css');

@import url('contacts.css');
@import url('about.css');

:root{
    --color-main-bgrd: #333;
    --color-main-text: #FFF;
    --color-main-link: orange;

    --color-basic-border: #CCC;

    --sizing-basic-border: 1px;
}

body{
    background: #eee;
    padding: 2rem 3rem;
}

.site-content{
    padding: 2rem 0;
}
